@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
}

.red-gradient {
  background: linear-gradient(92deg, #ff5956 2.87%, #ee1e38 96.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

:root {
  color-scheme: dark;
}

.overlay-dark {
  box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.8);
}

.slide-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: bottom;
}

.slide-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: top;
}

.shine {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 245px;
  height: 342px;
  border-radius: 10px;
  opacity: 0.5;
  mix-blend-mode: color-dodge;
  transition: none;
  -webkit-animation: none;
  animation: none;
  background-image: linear-gradient(
    115deg,
    transparent,
    #00e7ff 20%,
    #ff00e7 40%,
    #00e7ff 60%,
    #ff00e7 80%,
    transparent
  );
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 300% 300%;
  -webkit-animation: shine 7s ease infinite;
  animation: shine 7s ease infinite;
  pointer-events: none;
  max-width: 245px;
  max-height: 342px;
  z-index: 1;
}

.shine-small {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 17px;
  width: 210px;
  height: 132px;
  opacity: 0.5;
  mix-blend-mode: color-dodge;
  transition: none;
  animation: none;
  background-image: linear-gradient(
    115deg,
    transparent,
    #00e7ff 20%,
    #ff00e7 40%,
    #00e7ff 60%,
    #ff00e7 80%,
    transparent
  );
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 300% 300%;
  animation: shine 7s ease infinite;
  pointer-events: none;
  z-index: 1;
}

.reverse-pokemon {
  clip-path: inset(33px 19px 180px);
}

.reverse-trainer {
  clip-path: inset(49px 20px 165px);
}

.reverse-energy {
  clip-path: inset(47px 10px 117px);
}

@keyframes shine {
  0% {
    background-position: 50% 50%;
  }
  25% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0 0;
  }
  100% {
    background-position: 50% 50%;
  }
}

.flip-card-inner {
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.zoom {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.zoom .flip-card-inner {
  transform: rotateY(180deg) translateZ(0px) scale(2) translateX(25%)
    translateY(-25%) !important;
  transition: none;
  position: relative;
  top: 50%;
  left: 50%;
}
